body {
    color: #333;
    background: #663366;
}
a { color: #996699; }
a:hover { text-decoration: none; color: #663366; }

.colors1 { border-color: #996699; background: #f5f5f5; }
.colors1 a:hover, .colors1 a.selected_menu { color: #663366; }
.colors1 .border, .colors1 .menu li { border-color: #996699; }

.colors2 { border-color: #996699; background: #663366; color:#f5f5f5; }
.colors2 .border, .colors2 .menu li { border-color: #996699; }
.colors2 a { color: #f5f5f5; }
.colors2 a:hover, .colors2 a.selected_menu { color: #f5f5f5;background: #996699; }

.colors3 { border-color: #996699; background: transparent; }
.colors3 a {color: #fff7c0;}
.colors3 .border { border-color: #996699; }
.colors3 a:hover, .colors2 a.selected_menu { color: #f5f5f5; }
.colors3 .menu li { border-color: #996699; }

.footer p.legal a:hover {color:#f5f5f5;}
.footer p.legal { color: #996699; border-color: #996699; }

.content h2,.content  h2 a,.content  h3,.content  h3 a {
    color:#663366; border-color: #663366;
}
.content p, .content div { border-color: #663366; }
