body {
    color: #333;
    background: #cc9900;
}
a { color: #cc9900; }
a:hover { text-decoration: none; color: #ffcc00; }

.colors1 { border-color: #ffcc00; background: #f5f5f5; }
.colors1 a:hover, .colors1 a.selected_menu { color: #ffcc00; }
.colors1 .border, .colors1 .menu li { border-color: #ffcc00; }

.colors2 { border-color: #ffcc00; background: #cc9900; color:#f5f5f5; }
.colors2 .border, .colors2 .menu li { border-color: #ffcc00; }
.colors2 a { color: #f5f5f5; }
.colors2 a:hover, .colors2 a.selected_menu { color: #f5f5f5;background: #ffcc00; }

.colors3 { border-color: #ffcc00; background: transparent; }
.colors3 a {color: #fff7c0;}
.colors3 .border { border-color: #ffcc00; }
.colors3 a:hover, .colors3 a.selected_menu { color: #ffcc00; }
.colors3 .menu li { border-color: #ffcc00; }

.footer p.legal a:hover {color:#ffcc00;}
.footer p.legal { color: #ffcc00; border-color: #ffcc00; }

.content h2,.content  h2 a,.content  h3,.content  h3 a {
    color:#cc9900; border-color: #cc9900;
}
.content p, .content div { border-color: #cc9900; }
