body {
    color: #333;
    background: #677E52;
}
a { color: #677E52; }
a:hover { text-decoration: none; color: #B7CA79; }

.colors1 { border-color: #B7CA79; background: #f5f5f5; }
.colors1 a:hover { color: #B7CA79; }
.colors1 .border, .colors3 .menu li { border-color: #B7CA79; }

.colors2 { border-color: #B7CA79; background: #677E52; color:#f5f5f5; }
.colors2 .border, .colors2 .menu li { border-color: #B7CA79; }
.colors2 a { color: #f5f5f5; }
.colors2 a:hover { color: #f5f5f5;background: #B7CA79; }

.colors3 { border-color: #B7CA79; background: transparent; }
.colors3 a {color: #fff7c0;}
.colors3 .border { border-color: #B7CA79; }
.colors3 a:hover { color: #f5f5f5; }
.colors3 .menu li { border-color: #B7CA79; }

.footer p.legal a:hover {color:#f5f5f5;}
.footer p.legal { color: #B7CA79; border-color: #B7CA79; }

.content h2,.content  h2 a,.content  h3,.content  h3 a {
    color:#677E52; border-color: #677E52;
}
.content p, .content div { border-color: #677E52; }