body {
    color: #333;
    background: #4F6373;
}
a { color: #293845; }
a:hover { text-decoration: none; color: #4F6373; }

.colors1 { border-color: #293845; background: #f5f5f5; }
.colors1 a:hover { color: #4F6373; }
.colors1 .border, .colors3 .menu li { border-color: #293845; }

.colors2 { border-color: #293845; background: #4F6373; color:#f5f5f5; }
.colors2 .border, .colors2 .menu li { border-color: #293845; }
.colors2 a { color: #f5f5f5; }
.colors2 a:hover { color: #f5f5f5;background: #293845; }

.colors3 { border-color: #293845; background: transparent; }
.colors3 a {color: #fff7c0;}
.colors3 .border { border-color: #293845; }
.colors3 a:hover { color: #f5f5f5; }
.colors3 .menu li { border-color: #293845; }

.footer p.legal a:hover {color:#f5f5f5;}
.footer p.legal { color: #293845; border-color: #293845; }

.content h2,.content  h2 a,.content  h3,.content  h3 a {
    color:#4F6373; border-color: #4F6373;
}
.content p, .content div { border-color: #4F6373; }