
body {
    color: #333;
    background: #af2d00;
}
a { color: #cc3300; }
a:hover { text-decoration: none; color: #af2d00; }

.colors1 { border-color: #cc3300; background: #f5f5f5; }
.colors1 a:hover { color: #af2d00; }
.colors1 .border, .colors3 .menu li { border-color: #cc3300; }

.colors2 { border-color: #cc3300; background: #af2d00; color:#f5f5f5; }
.colors2 .border, .colors2 .menu li { border-color: #cc3300; }
.colors2 a { color: #f5f5f5; }
.colors2 a:hover { color: #f5f5f5;background: #cc3300; }

.colors3 { border-color: #cc3300; background: transparent; }
.colors3 a {color: #fff7c0;}
.colors3 .border { border-color: #cc3300; }
.colors3 a:hover { color: #f5f5f5; }
.colors3 .menu li { border-color: #cc3300; }

.footer p.legal a:hover {color:#f5f5f5;}
.footer p.legal { color: #cc3300; border-color: #cc3300; }

.content h2,.content  h2 a,.content  h3,.content  h3 a {
    color:#af2d00; border-color: #af2d00;
}
.content p, .content div { border-color: #af2d00; }
