body {
    color: #333;
    background: #cfdfc5;
}
a { color: #405952; }
a:hover { text-decoration: none; color: #cc3300; }

.colors1 { border-color: #405952; background: #f5f5f5; }
.colors1 a:hover, .colors1 a.selected_menu { color: #cc3300; }
.colors1 .border, .colors1 .menu li { border-color: #405952; }

.colors2 { border-color: #405952; background: #cfdfc5; color:#f5f5f5; }
.colors2 .border, .colors2 .menu li { border-color: #405952; }
.colors2 a { color: #405952; }
.colors2 a:hover, .colors2 a.selected_menu { color: #405952;background: #bad4a9; }

.colors3 { border-color: #405952; background: transparent; }
.colors3 a {color: #405952;}
.colors3 .border { border-color: #405952; }
.colors3 a:hover, .colors3 a.selected_menu { color: #333; }
.colors3 .menu li { border-color: #405952; }

.footer p.legal a:hover {color:#333;}
.footer p.legal { color: #405952; border-color: #405952; }

.content h2,.content  h2 a,.content  h3,.content  h3 a {
    color:#405952; border-color: #405952;
}
.content p, .content div { border-color: #405952; }
