/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    margin: 0;
    padding: 0;
    background: #853C1B;
    text-align: justify;
    font: 12px Arial, Helvetica, sans-serif;
    color: #000;
}

form {
    margin: 0;
    padding: 0;
}

h1, h1 a, h2, h2 a, h3, h3 a {
    margin: 0;
    text-decoration: none;
    font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

h1 {
    letter-spacing: -1px;
    font-size: 2em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
    letter-spacing: -1px;
    font-size: 1.8em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.15em;
}

h5 {
    font-size: 1em;
}


p, ol, ul {
    margin-bottom: 1em;
}

blockquote {
    margin: 0 0 0 1.5em;
    padding-left: 1em;
    border-left: 5px solid #ddd;
}

a {
    color: #4A2211;
}

a:hover {
    text-decoration: none;
	color: #853C1B;
}

img {border: 0 none;}
/* Header */

#header {
    width: 950px;
    margin: 0 auto 10px auto;
	border: 1px solid #4A2211;
	border-top: 0 none;
	background: #f5f5f5;
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px;
}

#logo {
    float: left;
    text-transform: uppercase;
    margin: 5px 0 20px 20px;
}

#logo a {
    text-decoration: none;
    color: #444;
    border: 0 none;
}
#logo img {border: 0 none;}

.topmenu {
    float: right;
    margin: 0px 20px 20px 0;
    padding: 0;
    list-style: none;
    border: 1px solid #4A2211;
    border-top: 0 none;
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px;
    background: #853C1B;
	color:#f5f5f5;
}

.topmenu li {
    display: block;
    float: left;
}

.topmenu li.last a {
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px;
}

.topmenu li:first-child {
    font-size: 1em;
    line-height: 3em;
    padding: 0px 20px;
    border-right: 1px solid #4A2211;
}
.topmenu a {
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 3em;
    color: #f5f5f5;
}

.topmenu a:hover {
    background: #4A2211;
}

/* Page */

#page {
    width: 950px;
    margin: 0 auto 10px auto;
}

/* Content */

#content {
    float: left;
    width: 735px;
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	border: 1px solid #4A2211;
	background: #f5f5f5;
}
#content .title {
    border-bottom: 1px #4A2211 dashed;
    margin: 25px;
	margin-bottom: 0px;
}

#content .title h2 {
    padding: 0px;
    margin: 0px;
    text-transform: lowercase;
}

#content .entry {
    margin: 25px;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 200px;
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	border: 1px solid #4A2211;
	background: #f5f5f5;
}
#sidebar a {
	font-weight: bold;
	text-decoration: none;
	text-transform: lowercase;
	line-height: 1.5em;
	display: block;
}
#sidebar a:hover {
	color: #853C1B;
}

/* Footer */

#footer {
    width: 950px;
    margin: 10px auto 25px auto;
}

.footermenu {
	float: left;
	list-style: none;
	margin: 0 25px 10px 25px;
	padding: 0;
	width: 100%;
}
.footermenu li {
	float: left;
	border-left: 1px solid #4A2211;
}
.footermenu li:first-child {
	border-left: 0 none;
}

.footermenu a {
	color: #fff7c0;
	font-weight: bold;
	display: block;
	line-height: 1.2em;
	padding: 2px 10px;
	text-decoration: none;
}
.footermenu li:first-child a{padding-left: 0px}

.footermenu a:hover{
	color: #f5f5f5;
}
#footer p.legal a  {color: #fff7c0;}
#footer p.legal a:hover {color:#f5f5f5;}
#footer p.legal {
    line-height: normal;
    font-size: .9em;
    color: #4A2211;
    border-top: 1px dotted #4A2211;
    clear: left;
    padding-top: 10px;
    margin: 0 25px;
    text-align: center;
}


#footer .rss {
    background: url( images/img18.gif ) no-repeat left center;
}

#footer .xhtml {
    background: url( images/img19.gif ) no-repeat left center;
}

#footer .css {
    background: url( images/img20.gif ) no-repeat left center;
}

#footer .legal a {
    padding: 0;
}

/* Categories */
.products_list {float:left; margin: 0; padding: 0; list-style: none; width: 100%;}
.products_list li {float:left; width: 23%; margin-bottom: 10px; margin-right:10px; border:1px solid #aaa; height:210px;}

.products_list a {text-decoration: none; border: 0 none;}

.products_list .image {
	width:100%;
	float:left;
	height:150px;
	margin-top:5px;
}
.products_list .item_content {
	width: 100%;
	float:left;
	margin-top: 5px;
	text-align: center;
}

div.products_list .item_content {width: 560px;}
.products_list .name {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
	color: #000;
}
.products_list .description {color: #666; margin: 10px 0;}

.products_list .price {
	line-height: 1.5em;
	font-weight: bold;
}

.products_list .price strike {color: #c00;}

.products_list .controls {
	display:none;
}


ul.products_list img {
	margin: auto;
	display: block;
	max-width: 150px;
	max-height: 150px;
}


/* my classes*/
.contact_text {width: 100%; height: 300px;}
.contact_text_label {width: 100%;}
.contact_text_submit {float: right;}

.editor {width: 100%; height: 200px;clear: left;}

form ul {float:left; margin: 0; padding: 0; clear: left; width: 80%;}
form li {list-style: none; margin-bottom: 5px; padding: 2px 5px; float: left; width: 100%;}
form label {
	display: block;
	float: left;
	width: 150px;
}
form input, form select, form textarea {width: 200px;}
li.header {background: #bad4a9;color: #fff;}
tr.footer {font-weight: bold;}
a.selected {text-decoration: none; color: #000;}