
body { background: #853C1B; color: #333; }

a { color: #4A2211; }

a:hover { text-decoration: none; color: #853C1B; }

.colors1 { border-color: #4A2211; background: #f5f5f5; }
.colors1 a:hover { color: #853C1B; }
.colors1 .border, .colors3 .menu li { border-color: #4A2211; }

.colors2 { border-color: #4A2211; background: #853C1B; color:#f5f5f5; }
.colors2 .border, .colors2 .menu li { border-color: #4A2211; }
.colors2 a { color: #f5f5f5; }
.colors2 a:hover { color: #f5f5f5;background: #4A2211; }

.colors3 { border-color: #4A2211; background: transparent; }
.colors3 a {color: #fff7c0;}
.colors3 .border { border-color: #4A2211; }
.colors3 a:hover { color: #f5f5f5; }
.colors3 .menu li { border-color: #4A2211; }

.footer p.legal a:hover {color:#f5f5f5;}
.footer p.legal { color: #4A2211; border-color: #4A2211; }

.content h2,.content  h2 a,.content  h3,.content  h3 a {
    color:#853C1B; border-color: #853C1B;
}
.content p, .content div { border-color: #853C1B; }
