<div class="page">
	<div class="header colors1">
		<!-- Put header here -->
		<img src='${app.logo}' alt='${app.title}' class='logo' />
		<div class='topmenu colors2'></div>
		<div class="floatfix"></div>
	</div>
	<div class="subheader colors3">
		<!-- Put header here -->
		<div class="floatfix"></div>
	</div>
	<div class='content colors1'>
		<div class='subcontent'>
			<!-- page content -->
			<div id='param:content'></div>
			<div class="floatfix"></div>
		</div>
	</div>
	<div class='right_panel colors1'>
		<!-- Put right here -->
	</div>

	<div class="floatfix"></div>
	<div class='footer colors3'>
		<!-- Put footer here -->
		<div class="floatfix"></div>
	</div>
	<div class="floatfix"></div>
</div>